@import url('https://fonts.googleapis.com/css2?family=Micro+5&family=Orbitron:wght@400..900&family=Silkscreen:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.7)),
        url('./img/bg.jpg') no-repeat center;
    background-size: cover;
}

.container {
    background: beige;
    color: darkred;
    border: 2px solid darkred;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 30px;
    margin-bottom: 1.5rem;
}

.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.timer {
    font-size: 40px;
    background: darkred;
    color: beige;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

.timer span {
    width: 110px;
    display: inline-block;
    text-align: center;
}

.controls {
    display: flex;
    gap: 1rem;
}

button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: beige;
    margin-top: 10px;
}

button:nth-child(1) {
    background-color: green;
    transition: opacity 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

button:nth-child(2) {
    background-color: red;
    transition: opacity 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

button:nth-child(3) {
    background-color: yellow;
    color: black;
    transition: opacity 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

button:nth-child(4) {
    background-color: blue;
    transition: opacity 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

button:nth-child(1):hover,
button:nth-child(2):hover,
button:nth-child(3):hover,
button:nth-child(4):hover {
    opacity: 0.6;
}

.lap-title {
    font-size: 1.5rem;
    text-align: center;
}

.laps {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 200px;
    background: darkred;
    color: beige;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

li {
    padding: 1rem;
    border-bottom: 1px solid beige;
}

li:last-child {
    border-bottom: none;
}

li span {
    font-weight: 700;
}